<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645191777964-pgs5hom7tj8cbf79q9e2bhufcofdilsl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645191777964-pgs5hom7tj8cbf79q9e2bhufcofdilsl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>645191777964-125s2jugl5rsi4alj7krcdolhcq79tuj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCpwCUNXYyAzYxLf755RiS42tlBvx-gP_E</string>
	<key>GCM_SENDER_ID</key>
	<string>645191777964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.taxiapp</string>
	<key>PROJECT_ID</key>
	<string>flutterflowuklonclone</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterflowuklonclone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645191777964:ios:6d73eeb1244ae4dddb2909</string>
</dict>
</plist>